<!----------------Bearbeitet von Nikos Papaspiros---------------->


{% extends "layout.html" %}
{% block content %}
    <!--Diese Seite wird aufgerufen, wenn die gewünschte Seite nicht gefunden werden kann-->
    <div class="container-lg mt-4">
        <h1>Entschuldigung</h1>
        <h3>Die gewünschte Seite konnte nicht gefunden werden (404)</h3>
        <p>Bitte nutzen Sie die Suchfunktion oder gehen Sie direkt zu <a class="ml-2" href="{{ url_for('main.home') }}">REDENI.de</a></p>
        <div class="container-lg">
            <img src="{{url_for('static', filename='Katze1.jpg')}}" class="img-fluid">
        </div>
    </div>
{% endblock content %}