<!----------------Bearbeitet von Nikos Papaspiros---------------->

{% extends "layout.html" %}

{% block title %}Kontakt{% endblock %}

{% block content%}

<!--Dieses Template zeigt die Kontaktinformationen an.-->

<div class="container-lg my-4">
    <h1 class="pb-4">Kontakt</h1>
    <div class="mb-3">
        Bei Fragen zu unseren Produkten, zu einer getätigten Bestellung oder einer generellen Frage, kontaktieren Sie uns gerne unter den unten genannten Konaktdaten.
    </div>
    <div class="row">
            <ul class="list-unstyled mb-0">
                <li><b>Telefon:</b>&ensp;124235426</li>
                <li><b>Mobil:</b>&ensp;124235426</li>
                <li><b>E-Mail:</b>&ensp;kontakt@redeni.de</li>
            </ul>
        </div>
    </div>
</div>






{% endblock %}